<div class="alert alert-info moneyMachine" role="alert">
    La maquina tiene: {{ moneyMachine }} La maquina dice: {{ outputMessage }}
</div>

<app-spin></app-spin>
<app-status-game></app-status-game>

<!--
<div *ngIf="winnerLoser(); then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div class="alert alert-success ouputMessage" role="alert">
        {{ outputMessage }} $ {{ moneyWin }}
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="alert alert-danger ouputMessage" role="alert">
        {{ outputMessage }}
    </div>
</ng-template>
-->

<!-- <app-spin></app-spin> -->